{% extends "base.html" %}
{% block title %}
Board | Todo
{% endblock %}
{% block content %}
{% load static %}
{% for task in all_task %}
{{ task.title }}
{% endfor %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
</head>

<div class='container'>
    <div class='content'>
        <h1>トレーニングノート</h1>
        <form action="{% url 'todo:create' %}" method="post">
            {% csrf_token %}
            <div class="main_box">
                <div class="nyuryoku">
                    <div class="data_box">
                        日付<br><input type="date" name="date" class="input_box">
                    </div>
                    <div class="data_box">
                        メニュー<br><input type="text" name="menu"  class="input_box" placeholder="ダンベルカール">
                    </div>
                    <div class="data_box">
                        ウェイト<br><input type="text" name="weight"  class="input_box" placeholder="10kg">
                    </div>
                    <div class="data_box">
                        回数<br><input type="text" name="age"  class="input_box" placeholder="30回">
                    </div>
                    <input type="submit" class="input_button" value="記録">
                </div>
            </div>
        </form>
    </div>
</div>


{% for task in all_task %}
<div class="main_box">
    <div class="nyuryoku">
        <div class="data_box">
            {{ task.date }}
        </div>
        <div class="data_box">
            {{ task.menu }}
        </div>
        <div class="data_box">
            {{ task.weight }}
        <div class="data_box">
            {{ task.age }}
        </div>
        <a href="{% url 'todo:delete' task.id %}" class="input_button">消去</a>
    </div>
</div>
<!-- <div>
  <span>{{ task.date }}{{ task.menu }}{{ task.weight }}{{ task.age }} </span><a href="{% url 'todo:delete' task.id %}">消去</a>
</div> -->
{% endfor %}


{% endblock %}